<h2>Criando uma nova tarefa</h2>
<form action="/tasks/create" method="post">
    <label>Título:</label><br>
    <input type="text" name="title" placeholder="O que precisa ser feito?" required/><br>
    <label>Descrição:</label><br>
    <input type="text" name="description" placeholder="Algum detalhe extra?" /><br><br>
    <label>Prioridade:</label><br>
    <select name="priority" required>
        <option value="Baixa">Baixa</option>
        <option value="Média" selected>Média</option>
        <option value="Alta">Alta</option>
    </select>
    <br>
    <label>Prazo:</label><br>
    <input type="date" name="dueDate" id="dueDate" />
    <script>
        const today = new Date().toISOString().split('T')[0];
        document.getElementById("dueDate").setAttribute("min", today);
    </script>
    <br><br>
    <button type="submit">Criar Tarefa</button>
</form>